@import "{}/node_modules/toastr/toastr.scss";
@import "{}/node_modules/pixeden-stroke-7-icon/pe-icon-7-stroke/scss/pe-icon-7-stroke.scss";

//contents
blockquote {
  border-left: 5px solid #f44;
}

p>img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

//admin
