@import "{}/node_modules/toastr/toastr.scss";
@import "{}/node_modules/pixeden-stroke-7-icon/pe-icon-7-stroke/scss/pe-icon-7-stroke.scss";

// post content style
blockquote {
  margin: .3rem .1rem;
  border-left: .1rem solid #f44;
  p {
    font-size: .3rem;
  }
}

p {
  margin: .2rem 0;
}

p>img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: .2rem 0;
}

