.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.noticemain {
  font-weight: bold;
  color: #333;
  padding: 15px;
  background-color: #fafafa;
  text-align: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.glyphicon {
  font-weight: 800;
}

.notice-sm {
  /*padding: 10px;
  font-size: 80%;*/
  border-color: #7f7f84;
  > strong {
    color: #7f7f84;
  }
}

.notice-success {
  border-color: #80D651;
  > strong {
    color: #80D651;
  }
}

.notice-info {
  border-color: #45ABCD;
  > strong {
    color: #45ABCD;
  }
}

.notice-warning {
  border-color: #FEAF20;
  > strong {
    color: #FEAF20;
  }
}

.notice-danger {
  border-color: #d73814;
  > strong {
    color: #d73814;
  }
}

.notice-button {
  padding: 10px;
  font-size: 80%;
  border-color: #80D651;
}

.btn {
  margin-right: 5px;
}
