.cover-img-wrapper {
  width: 200px;
  height: 150px;
  &.pull-left {
    margin-right: 10px;
  }
  &.pull-right {
    margin-left: 10px;
  }
  img {
    height: 100%;
  }
}

.cont {
  width: auto;
  height: 150px;
}

.post-coverImg {
  margin: 10px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.posts-tab {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  &.top {
    top: 51px;
    bottom: initial;
  }
  &.green {
    background: #41B050;
  }
  &.red {
    background: #a42e25;
  }
  &.black {
    background: #151414;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  flex: 1;
  line-height: 40px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.68);
  cursor: pointer;
  &.active {
    background: rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 767px) {
  .cover-img-wrapper {
    width: 80px;
    height: 60px;
  }
  .cont {
    height: 60px;
    .post-title {
      padding: 0px;
      margin: 0px;
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
    }
    .post-desc {
      padding: 0px;
      margin-top: 5px;
      font-size: 13px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
