.singlepage-logoImg {
  position: absolute;
  top: 5px;
  left: 140px;
}
img {
  background-color: rgba(255, 255, 255, 0) !important
}
// .wangEditor-container {
//   section {
//     .container {
//       width: auto;
//     }
//   }
// }
