.panel-footer {
  .fa {
    margin-right: 5px;
  }
}

.event-desc {
  padding: 0px;
  margin-top: -10px;
  font-size: 13px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: -15px;
}
