#Simple {
  .topnav {
    font-size: 14px;
  }

  .lead {
    font-size: 18px;
    font-weight: 400;
  }

  .intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url('http://odhge55gv.bkt.clouddn.com/base/singlepages/template/simple-bg.jpg') no-repeat center center;
    background-size: cover;
  }

  .intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    > h1 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 5em;
    }
  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  .network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
  }

  .content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }

  .section-heading {
    margin-bottom: 30px;
  }

  .section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
  }

  .banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url('http://odhge55gv.bkt.clouddn.com/base/singlepages/template/banner-bg.jpg') no-repeat center center;
    background-size: cover;
    h2 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 3em;
    }
    ul {
      margin-bottom: 0;
    }
  }

  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }

  footer {
    padding: 50px 0;
    background-color: #f8f8f8;
  }

  p.copyright {
    margin: 15px 0 0;
  }
}

@media (max-width: 767px) {
  #template-simple {
    .intro-message {
      padding-bottom: 15%;
      > h1 {
        font-size: 3em;
      }
    }
    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .intro-divider {
      width: 100%;
    }
  }
}

@media (max-width: 1199px) {
  #template-simple {
    ul.banner-social-buttons {
      float: left;
      margin-top: 15px;
    }
  }
}

@media (max-width: 767px) {
  #template-simple {
    .banner h2 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 3em;
    }
    ul.banner-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
