.pic2and3{
  padding-right: 15px;
}
.pic2{
  padding-bottom: 30px;
}
.pic3{
}
.font900weight{
  font-weight: 900;
  color: #000000;
  padding-left: 15px;
}
.about-body{
  margin: 120px 0;
  font-size: 30px;
  font-weight: 100;
  color: inherit;
}
.vacate2chars{
  text-indent:2em;
}
