

.bannerText{
  width: 30%;
  height: 50%;
  margin: 0% 0% 0% 0%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #000000;
  opacity: 0.5;
}
.titleDivService{
  height: 60px;
  // background-color: #888888;
  h2 {
    // font-family: 'ProximaNovaT-Thin';
    color: #1f2128;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 80px;

    text-transform: capitalize;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 2px solid #000000;
      text-align: center;
      margin: 1px auto 0;
    }
  }

}.titleDivProjects{
  height: 60px;
  background-color: #888888;
  h2 {
    // font-family: 'ProximaNovaT-Thin';
    color: #1f2128;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 80px;

    text-transform: capitalize;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 2px solid #000000;
      text-align: center;
      margin: 1px auto 0;
    }
  }

}
.titleDivNews{
  height: 60px;
  background-color: #888888;
  h2 {
    // font-family: 'ProximaNovaT-Thin';
    color: #1f2128;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 80px;

    text-transform: capitalize;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 2px solid #000000;
      text-align: center;
      margin: 1px auto 0;
    }
  }

}
.titleDivMembership{
  height: 60px;
  background: rgba(0,0,0, 0.5);
  h2 {
    // font-family: 'ProximaNovaT-Thin';
    color: #ddd;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 80px;
    opacity: 1;


    text-transform: capitalize;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 2px solid #000000;
      text-align: center;
      margin: 1px auto 0;
    }
  }

}
.titleDivOurPartners{
  height: 60px;
  background-color: #222;
  h2 {
    // font-family: 'ProximaNovaT-Thin';
    color: #eee;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 80px;

    text-transform: capitalize;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 2px solid #eee;
      text-align: center;
      margin: 1px auto 0;
    }
  }

}
.titleDivContactUs{
  height: 60px;
  background-color: #000000;
  h2 {
    // font-family: 'ProximaNovaT-Thin';
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 80px;

    text-transform: capitalize;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 2px solid #fff;
      text-align: center;
      margin: 1px auto 0;
    }
  }

}

#service-list {
  display: inline-block;
  width: 100%;
}

.items-tool-idms {
  display: inline-block;
  width: 25%;
  margin: 40px 0;
  text-align:center;
}

.items-tool-idms .content-items {
  display: inline-block;
  // width: calc(100% - 90px);
  font-size: 25px;
  color: #1f2128;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}

#careers-list .items-tool-idms .content-items span {
  min-height: 115px;
}


@media (max-width: 600px) {
  .items-tool-idms {
    width: 50%;
    min-height: 80px;
  }
}
