
.titleAll  {
  h3 {
    margin: 18px 0;
    display: block;
    font-size: 23px;
    text-align: center;
    //&:after {
    //  content: '';
    //  width: 65px;
    //  display: block;
    //  height: 1px;
    //  border-bottom: 2px solid #47B475;
    //  text-align: center;
    //  margin: 10px auto 0;
    //}
  }
}
table.boxed {
  background: #f8f8f8;
}

// $screen-xs-max
//下面的 “min-width: 767px” 是横排变成竖排的 width
.pricing-table {
  @media  (min-width: 767px){
    min-height: 260px;
    margin: 40px 0 80px 0;
  }

  margin: 14px 0;
  box-shadow: 0 3px 10px rgba(125,125,125,0.5);
  padding: 30px 30px;
  .price1, .price2 {
    font-size: 56px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 65px;
    //color: #292929;
    display: inline-block;
    margin-bottom: 16px;
  }
  .price1{
    color:white;
    background-color: #F99F00;
  }
  .price2{
    color:#494E6B;
    background-color: #ffffff;
  }
  .memberLv{
    font-size: 30px;
  }
  ul {
    padding: 0 0 0 0;
    line-height: 36px;
    list-style: none;
    li{
      font-size: 18px;
      padding:4px 0;
    }
  }
  &.boxed{
    li{
      border-bottom: solid 1px #ececec;
    }
  }

  &.emphasis {
    background: #575c7b;
    color: #fff;
    h5 {
      color: white;
    }
    .price {
      color: #fff;
    }
    li{
      border-bottom: solid 1px #3E445B;
    }
  }
}
